extends layout

block content
  h1.
    User List
  table(border=1)
    thead
      tr
        th Username
        th Fullname
        th Email
        th(colspan=2) Action
      tbody
        each user, i in userlist
          tr
            form#formChangeUser(name="chguser",method="post",action="/chguser")
              td
                input#inputUserName(type="text", placeholder="username", name="username" value="#{user.username}")
              td
                input#inputName(type="text", placeholder="name", name="name" value="#{user.name}")
              td
                input#inputEmail(type="text", placeholder="email", name="email" value="#{user.email}")  
              td
                button#btnSubmit(type="submit") Update 
            form#formDelUser(name="deluser",method="post",action="/deluser")
              td
                input#inputUserName(type="hidden", placeholder="username", name="username" value="#{user.username}")
                button#btnSubmit(type="submit") Delete
        form#formAddUser(name="adduser",method="post",action="/adduser") 
          tr
            td
              input#inputUserName(type="text", placeholder="username", name="username").
            td
              input#inputUserEmail(type="text", placeholder="name", name="name")
            td
              input#inputName(type="text", placeholder="useremail", name="useremail")
            td(colspan=2,align="center")
              button#btnSubmit(type="submit") Add